body{
     text-align: center;
     background-color: rgb(196,185,199 );
}
img{
    width: 400px;

}

#Benefits{
    width: 800px;
    color: darkmagenta;
    font-size: 20px;
    margin-left: 340px;

}

.Steps{
    width: 800px;
    text-align: left;
    margin-left: 340px;
    color: darkturquoise;
    font-size: 20px;
}

li:nth-child(2){
    color: red
}
li:nth-child(3){
    color: blue;
}
hr{
    background-color: black;
}